Tema_2/Leopoldo LORENZO FERNANDEZ/Carta_pizzas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pizzas">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="pizza">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ingredientes" >
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="5" name="nombre" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="nombre" type="xs:string" use="required" />
						<xs:attribute name="precio" type="xs:unsignedByte" use="required" />
						<xs:attribute name="vegan" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>